<div class="signalement overflow-hidden">
    <div class="p-section bg-section">
        <div class="page-title">
            <h1>Signalement du Dopage</h1>
            <p>Formulaire Sécurisé</p>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="pt-100">
                <div class="mb-100">
                    <h2 class="second-sub-title mb-5">01 Pourquoi signaler un cas de dopage ?</h2>
                    <p class="text">
                        . Le dopage nuit à l’équité du sport et met en danger la santé des sportifs.<br>. Les pratiques
                        interdites doivent être dénoncées pour garantir un environnement sportif propre.<br> . Votre
                        identité est protégée : Vous pouvez choisir de signaler anonymement ou de laisser vos
                        coordonnées
                        pour un suivi.
                    </p>
                </div>
                <div class="mb-100">
                    <h2 class="second-sub-title mb-5">02 Que peut-on signaler ?</h2>
                    <p class="text">
                        Vous pouvez signaler tout comportement suspect lié au dopage, notamment :<br>. L’usage de
                        substances interdites par un athlète ou une équipe.<br>. Le trafic ou la distribution de
                        produits dopants.<br> . La falsification de contrôles antidopage ou la dissimulation
                        d’infractions.<br> . Toute pression ou incitation exercée sur un athlète pour se doper.<br>
                        . Même un soupçon peut être utile : Tout signalement est pris en compte et analysé par des
                        experts.
                    </p>
                </div>
                <div class="mb-100">
                    <h2 class="second-sub-title mb-5">03 Comment signaler ?</h2>
                    <p class="text">
                        Vous pouvez remplir le formulaire de signalement sécurisé disponible sur notre site. Ce
                        formulaire garantit la confidentialité de vos informations et peut être complété de manière
                        anonyme.<br>
                        . Accéder au formulaire sécurisé :<br><a href="#">Lien vers le formulaire de signalement</a><br>
                        . Informations demandées dans le formulaire :<br>
                        Description du cas : Expliquez ce que vous avez vu ou entendu<br>.
                        Personnes impliquées : Nom, équipe, fédération (si connu)<br>.
                        Date et lieu des faits (si disponible)<br>.
                        Pièces jointes : Documents, photos ou toute preuve éventuelle<br>.
                        Votre identité (optionnel) : Vous pouvez choisir de rester anonyme<br>.
                        Toutes les données sont sécurisées et traitées de manière confidentielle.
                    </p>
                </div>
                <div>
                    <h2 class="second-sub-title mb-5">04 Que se passe-t-il après un signalement ?</h2>
                    <p class="text">
                        . Analyse et enquête : Nos experts évaluent la crédibilité du signalement.<br> . Mesures
                        adaptées :
                        En fonction des preuves, des enquêtes peuvent être menées.<br>. Protection des lanceurs d’alerte
                        :
                        Votre identité reste confidentielle, sauf si vous souhaitez être contacté pour un suivi.<br>
                        . Chaque signalement aide à renforcer la lutte contre le dopage et à protéger les athlètes
                        propres.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>