<div class="container">
    <div class="header">
        <div class="logo">
            <img src="images/b6635fbefc091cfa2c7e526d355afa73.png" alt="Logo" />
        </div>
        <div class="w-25 d-flex align-items-center gap-2 address">
            <i class="bi bi-geo-alt-fill" style="color: #BDCE31"></i>
            <p class="m-0">
                Immeuble Narcisse, 1er étage Avenue du Japon- 1073 Montplaisir Tunis
            </p>
        </div>
        <div class="search">
            <input type="text" placeholder="Recherche">
            <i class="bi bi-search"></i>
        </div>
        <div class="d-flex gap-1 links">
            <a style="background-color: #1877f2" class="social_link"
                href="https://www.facebook.com/p/Agence-nationale-antidopage-100064815153549/?locale=fr_FR"
                target="_blank">
                <i class="bi bi-facebook"></i>
            </a>
            <a style="background-color: #1da1f2;" class="social_link" href="#">
                <i class="bi bi-twitter"></i>
            </a>
            <a style="background-color:#ff0000 ;" class="social_link" href="#">
                <i class="bi bi-youtube"></i>
            </a>
        </div>
        <nav class="navbar navbar-expand-lg z-3">
            <div class="container-fliud">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" routerLink="/antidopage">Antidopage</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Liste des Substances Interdites</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/reglement">Règlements et Documents</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" routerLink="/aut">AUT</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/signalement-dopage">Signalement du
                                Dopage</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/outils">Outils Éducatifs</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/actualites">Actualités</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" routerLink="/contact">FAQ & Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>