<div class="footer">
    <div class="container">
        <div class="d-flex flex-column flex-lg-row gap-5 footer-content mb-3" style="padding-top: 100px;">
            <div>
                <h1 class="my-title">GROUPE CIBLE NATIONAL</h1>
                <p>Groupe Cible National 2025</p>
            </div>
            <div>
                <div class="logo w-100" style="height: 200px;">
                    <img src="images/b6635fbefc091cfa2c7e526d355afa73.png" alt="Logo" />
                </div>
                <div class="search mb-3">
                    <input type="text" placeholder="Recherche">
                    <i class="bi bi-search"></i>
                </div>
                <a href="#" class="d-block text-black fw-bold text-center w-100">Vérifiez votre médicament</a>
            </div>
            <div>
                <h1 class="mb-3">Contact</h1>
                <div class="d-flex align-items-center gap-2 mb-2">
                    <i class="bi bi-geo-alt-fill" style="color: #BDCE31"></i>
                    <p class="m-0">
                        Immeuble Narcisse, <br> 1er étage Avenue du Japon- 1073 Montplaisir Tunis
                    </p>
                </div>
                <div class="d-flex gap-2 align-items-center">
                    <i class="bi bi-telephone-fill" style="color: #BDCE31"></i>
                    <p>
                        (+216) 71 902 333<br>
                        (+216) 71 902 670
                    </p>
                </div>
                <div class="d-flex gap-2">
                    <i class="bi bi-printer-fill" style="color: #BDCE31"></i>
                    <p>
                        (+216) 71 903 520
                    </p>
                </div>
                <div class="d-flex gap-2">
                    <i class="bi bi-envelope-at-fill" style="color: #BDCE31"></i>
                    <p>anad&#64;anad.tn</p>
                </div>
            </div>
        </div>
    </div>
    <ul class="d-flex flex-column gap-3 flex-lg-row justify-content-evenly p-0 m-0 my-bg py-3 px-2">
        <li class="ps-5 ps-lg-0"><a href="#" class="text-black">Sportif</a></li>
        <li class="ps-5 ps-lg-0"><a href="#" class="text-black">Personnel d’encadrement</a></li>
        <li class="ps-5 ps-lg-0"><a href="#" class="text-black">Fédérations et autres signataires du Code</a></li>
        <li class="ps-5 ps-lg-0"><a href="#" class="text-black">Médecin-ACD-Escorte</a></li>
        <li class="ps-5 ps-lg-0"><a href="#" class="text-black">Accès à l’information</a></li>
    </ul>
</div>