<div class="outils">
    <div class="p-section bg-section">
        <div class="page-title">
            <h1>Outils Éducatifs – Vidéos, Quiz & Supports Pédagogiques</h1>
        </div>
    </div>
    <div class="container">
        <div class="pt-100">
            <div class="mb-100">
                <h2 class="title">Vidéos Éducatives</h2>
                <div class="d-flex flex-sm-column flex-md-row gap-4 flex-wrap justify-content-center">
                    <img src="/images/907ea66c7f7cbae752b6b13c09a6033d.jpg" alt="Image" class="img-fluid rounded">
                    <img src="/images/8aaa3573963c2538127e37d01caab160.jpg" alt="Image" class="img-fluid rounded">
                    <img src="/images/9b660d2b1c5739a4d1db9c5e3bdc0c4f.jpg" alt="Image" class="img-fluid rounded">
                    <img src="/images/5d70f2c21ff41f510a90fdda45957c85.jpg" alt="Image" class="img-fluid rounded">
                    <img src="/images/4bc26214b78ff0068aba613d1076878d.jpg" alt="Image" class="img-fluid rounded">
                    <img src="/images/4d4c4cdc1f2f14d949a8b7056e52a6bd.jpg" alt="Image" class="img-fluid rounded">
                </div>
            </div>
            <div>
                <h2 class="title">Guides</h2>
                <div class="d-flex flex-sm-column flex-md-row gap-4 flex-wrap justify-content-center">
                    <img src="/images/907ea66c7f7cbae752b6b13c09a6033d.jpg" alt="Image" class="img-fluid rounded">
                    <img src="/images/8aaa3573963c2538127e37d01caab160.jpg" alt="Image" class="img-fluid rounded">
                    <img src="/images/9b660d2b1c5739a4d1db9c5e3bdc0c4f.jpg" alt="Image" class="img-fluid rounded">
                    <img src="/images/5d70f2c21ff41f510a90fdda45957c85.jpg" alt="Image" class="img-fluid rounded">
                    <img src="/images/4bc26214b78ff0068aba613d1076878d.jpg" alt="Image" class="img-fluid rounded">
                    <img src="/images/4d4c4cdc1f2f14d949a8b7056e52a6bd.jpg" alt="Image" class="img-fluid rounded">
                </div>
            </div>
        </div>
    </div>
</div>