<div class="contact">
    <div class="p-section bg-section">
        <div class="page-title">
            <h1>FAQ et Contact</h1>
        </div>
    </div>
    <div class="container">
        <div class="pt-100">
            <div class="d-flex flex-column-reverse flex-md-row gap-4 align-items-center">
                <form class="w-100">
                    <h3 class="mb-4">Envoyer nous un message </h3>
                    <div class="d-flex gap-3 mb-3">
                        <div class="w-100">
                            <label for="nom" class="form-label">Nom</label>
                            <input type="email" class="form-control bg-section shadow-sm" id="nom">
                        </div>
                        <div class="w-100">
                            <label for="email" class="form-label">Adresse mail</label>
                            <input type="email" class="form-control bg-section shadow-sm" id="email">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Téléphone</label>
                        <input type="text" class="form-control bg-section shadow-sm" id="phone">
                    </div>
                    <div class="mb-4">
                        <label for="message" class="form-label">Message</label>
                        <textarea class="form-control bg-section shadow-sm" style="height: 200px"
                            id="message"></textarea>
                    </div>
                    <button class="form-btn">Envoyer le message </button>
                </form>
                <div style="height: 500px ;" class="w-100 align-self-stretch">
                    <iframe width="100%" height="100%" style="border:0; border-radius: 12px" loading="lazy"
                        allowfullscreen referrerpolicy="no-referrer-when-downgrade"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2562.4253579566457!2d10.193008905342673!3d36.838414446364574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd35005664acdf%3A0xac05ba562274876!2sAgence%20Nationale%20Tunisienne%20Antidopage%20(%20ANAD)!5e0!3m2!1sfr!2stn!4v1744134889614!5m2!1sfr!2stn">
                    </iframe>
                </div>
            </div>
        </div>
        <div class="pt-100">
            <h2 class="mb-5 text-center fw-bold">Questions Fréquentes</h2>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item mb-5">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed custom-accordion-button" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                            aria-controls="flush-collapseOne">
                            <span> Qu'est-ce que le dopage ?</span>
                            <span class="icon-container me-2">
                                <i class="bi bi-plus-lg"></i>
                            </span>
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p>Le dopage est l'utilisation de substances interdites pour améliorer les performances.</p>
                            <p>C'est illégal dans le sport.</p>
                            <p>Il peut nuire à la santé.</p>
                            <p>Il entraîne des sanctions.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item mb-5">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed custom-accordion-button" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                            aria-controls="flush-collapseTwo">
                            <span> Qui est concerné par les règles antidopage ?</span>
                            <span class="icon-container me-2">
                                <i class="bi bi-plus-lg"></i>
                            </span>
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p>Les athlètes sont concernés par les règles antidopage.</p>
                            <p>Les entraîneurs doivent respecter ces règles.</p>
                            <p>Les médecins doivent suivre les règles antidopage.</p>
                            <p>Les organisateurs d'événements doivent veiller à leur application.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item mb-5">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed custom-accordion-button" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            <span>Comment un test antidopage est-il réalisé ?</span>
                            <span class="icon-container me-2">
                                <i class="bi bi-plus-lg"></i>
                            </span>
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p>Un échantillon d'urine ou de sang est prélevé chez l'athlète.</p>
                            <p>Le test est effectué en laboratoire pour détecter des substances interdites.</p>
                            <p>L'athlète peut être surveillé pendant le prélèvement pour éviter toute tricherie.</p>
                            <p>Les résultats sont analysés, et l'athlète est informé en cas de test positif</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item mb-5">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed custom-accordion-button" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour">
                            <span> Que se passe-t-il si un athlète est contrôlé positif ?</span>
                            <span class="icon-container me-2">
                                <i class="bi bi-plus-lg"></i>
                            </span>
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p>L'athlète peut être suspendu de la compétition pendant une période déterminée.</p>
                            <p>Il peut perdre ses titres et ses médailles obtenus lors de la compétition.</p>
                            <p>Des sanctions financières ou légales peuvent être appliquées selon les règles de
                                l’organisme sportif.</p>
                            <p>L'athlète peut être banni à vie de certaines compétitions en cas de récidive.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>