<div class="actualites">
    <div class="p-section bg-section">
        <div class="page-title">
            <h1>Actualités & Événements</h1>
        </div>
    </div>
    <div class="container">
        <div class="pt-100">
            <h2 class="title">Actualités</h2>
            <div class="row g-4">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let item of posts">
                    <div class="position-relative post-image-container">
                        <img [src]="item.image_link" class="img-fluid post-image" alt="Post Image" />
                        <div class="overlay p-3 text-white d-flex flex-column justify-content-center">
                            <h5 class="mb-1">{{ item.title }}</h5>
                            <p class="mb-0">{{ item.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>