<div class="antidopage">
    <div class="bg-section p-section">
        <div class="page-title">
            <h1>LUTTE CONTRE LE DOPAGE</h1>
            <p>Les règles, les risques et les pratiques antidopage</p>
        </div>
    </div>
    <div class="container">
        <div class="p-section section-image">
            <div class="image">
                <img src="/images/6193dd6254c22d26ee001673bd031307.jpg " alt="Image" class="img-fluid rounded">
            </div>
            <div class="vr"></div>
            <div class="description">
                <p>Le dopage nuit à l'intégrité du sport et à la santé des athlètes. L'Agence Nationale Antidopage
                    (ANAD)
                    établit des règles et des mesures pour lutter contre ce phénomène. Cette page présente des
                    informations
                    sur les substances interdites, les méthodes de détection et les conséquences des infractions aux
                    règles
                    antidopage.</p>
            </div>
        </div>
        <div>
            <div class="mb-50">
                <div class="sub-title">
                    <span>(01)</span>
                    <h2>Textes et Réglementations Antidopage</h2>
                </div>
                <p>Les règles de lutte contre le dopage sont définies par des textes internationaux et nationaux. Le
                    Code mondial antidopage (WADA) fixe les normes mondiales, tandis que le Code national antidopage
                    régit la législation locale, incluant sanctions et procédures. L'ANAD établit les régulations
                    locales sur les substances interdites et les tests de détection.</p>
                <a href="#" class="icon-link icon-link-hover my-btn my-bg">
                    <span> Accédez aux documents PDF</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                    </svg>
                </a>
            </div>
            <div class="mb-50">
                <div class="sub-title">
                    <span>(02)</span>
                    <h2>Liste des substances interdites</h2>
                </div>
                <p>Les substances et méthodes de dopage varient selon les sports et les techniques. La Liste des
                    interdictions est mise à jour par l'Agence mondiale antidopage (AMA). Consultez notre base de
                    données interactive pour rechercher une substance ou une méthode interdite.</p>
                <a href="#" class="icon-link icon-link-hover my-btn my-bg">
                    <span>Accéder à la base de données</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                    </svg>
                </a>
            </div>
            <div class="mb-50">
                <div class="sub-title">
                    <span>(03)</span>
                    <h2>Textes et Réglementations Antidopage</h2>
                </div>
                <p>Les règles de lutte contre le dopage sont définies par des textes internationaux et nationaux. Le
                    Code mondial antidopage (WADA) régit les règles au niveau mondial, tandis que le Code national
                    antidopage traite des lois locales et des sanctions. L'ANAD établit les régulations nationales sur
                    les substances interdites et les tests de détection.</p>
                <a href="#" class="icon-link icon-link-hover my-btn my-bg">
                    <span>Accédez aux documents PDF</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                    </svg>
                </a>
            </div>
            <div class="mb-50">
                <div class="sub-title">
                    <span>(04)</span>
                    <h2>Conséquences du dopage</h2>
                </div>
                <p>Le dopage présente des risques pour la santé des athlètes et nuit à l'intégrité du sport. Les
                    sanctions incluent des suspensions, des amendes et l'annulation de titres. Les risques pour la santé
                    comprennent des problèmes cardiaques, des perturbations hormonales et des dommages musculaires.
                    L'utilisation de substances interdites dégrade l'image du sport et les valeurs du jeu propre.</p>
                <a href="#" class="icon-link icon-link-hover my-btn my-bg">
                    <span>Accédez aux documents PDF</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                    </svg>
                </a>
            </div>
            <div class="mb-50">
                <div class="sub-title">
                    <span>(05)</span>
                    <h2>Lutte contre le dopage et prévention</h2>
                </div>
                <p>L'ANAD mène des campagnes de sensibilisation pour prévenir le dopage et informer sur les risques des
                    substances interdites. Ces initiatives incluent des programmes éducatifs (ateliers, séminaires) et
                    des supports de sensibilisation (brochures, vidéos, articles et tests interactifs).</p>
                <a href="#" class="icon-link icon-link-hover my-btn my-bg">
                    <span>Accédez aux documents PDF</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                    </svg>
                </a>
            </div>
            <div>
                <div class="sub-title">
                    <span>(06)</span>
                    <h2>Test de détection du dopage</h2>
                </div>
                <p>Les tests de détection du dopage, réalisés à tout moment, incluent des prélèvements sanguins ou
                    urinaires. Les échantillons sont envoyés à des laboratoires agréés pour analyse. Selon les
                    résultats, des sanctions peuvent être appliquées, allant de la suspension à l'exclusion.</p>
                <a href="#" class="icon-link icon-link-hover my-btn my-bg">
                    <span>Accédez aux documents PDF</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>