<div class="reglement overflow-hidden">
    <div class="p-section bg-section">
        <div class="page-title">
            <h1>Règlements et Documents</h1>
            <p>fournir un accès facile aux documents essentiels.</p>
        </div>
    </div>
    <div class="pt-100">
        <div class="container">
            <div class="mb-100 section-image reverse">
                <div class="description">
                    <h2 class="my-title">Bienvenue</h2>
                    <p>sur la page des règlements et documents relatifs à la lutte contre le dopage. Cette section vous
                        permet d'accéder aux textes officiels, aux guides et aux réglementations régissant les actions
                        de lutte contre le dopage.</p>
                </div>
                <div class="vr"></div>
                <div class="image">
                    <img src="/images/6193dd6254c22d26ee001673bd031307.jpg " alt="Image" class="img-fluid rounded">
                </div>
            </div>
            <div class="mb-100 section-image reverse">
                <div class="description">
                    <div class="sub-title">
                        <span>(01)</span>
                        <h2>Code Mondial Antidopage (WADA)</h2>
                    </div>
                    <p>Le Code mondial antidopage est la norme internationale régissant la lutte contre le dopage dans
                        le monde entier, adoptée par l'Agence mondiale antidopage (WADA).</p>
                    <a href="#" class="icon-link icon-link-hover my-btn border border-secondary-1">
                        <span>Télécharger</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </a>
                </div>
                <div class="vr"></div>
                <div class="image">
                    <img src="/images/d92f76fcc18a03f83e67c51592d5bbb5.jpg" alt="Image" class="img-fluid rounded">
                </div>
            </div>
            <div class="mb-100 section-image">
                <div class="image">
                    <img src="/images/92c548c8bcdbbbf38659de9fbd50a3ec.jpg" alt="Image" class="img-fluid rounded">
                </div>
                <div class="vr"></div>
                <div class="description">
                    <div class="sub-title">
                        <span>(02)</span>
                        <h2>Code National Antidopage</h2>
                    </div>
                    <p>Le Code national antidopage régit la législation locale concernant la lutte contre le dopage,
                        incluant les sanctions et procédures juridiques spécifiques à notre pays.</p>
                    <a href="#" class="icon-link icon-link-hover my-btn border border-secondary-1">
                        <span>Télécharger</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="mb-100 section-image reverse">
                <div class="description">
                    <div class="sub-title">
                        <span>(03)</span>
                        <h2>Réglementations de l'Agence Nationale Antidopage (ANAD)</h2>
                    </div>
                    <p>L'ANAD définit des régulations locales concernant les substances interdites, les méthodes de
                        détection et les procédures à suivre pour assurer la conformité aux règles antidopage.</p>
                    <a href="#" class="icon-link icon-link-hover my-btn border border-secondary-1">
                        <span>Télécharger</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </a>
                </div>
                <div class="vr"></div>
                <div class="image">
                    <img src="/images/5f6c3fb4b75174c87bc06a5c9b57c565.jpg" alt="Image" class="img-fluid rounded">
                </div>
            </div>
            <div class="mb-100 section-image">
                <div class="image">
                    <img src="/images/ff1726524751a898bde46fb31e615a36.jpg" alt="Image" class="img-fluid rounded">
                </div>
                <div class="vr"></div>
                <div class="description">
                    <div class="sub-title">
                        <span>(04)</span>
                        <h2>Liste des Substances Interdites</h2>
                    </div>
                    <p>La liste des substances interdites mise à jour par la WADA comprend les substances et méthodes de
                        dopage interdites en compétition et hors compétition.</p>
                    <a href="#" class="icon-link icon-link-hover my-btn border border-secondary-1">
                        <span>Télécharger</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="mb-100 section-image reverse">
                <div class="description">
                    <div class="sub-title">
                        <span>(05)</span>
                        <h2>Guides Pratiques et Documents Complémentaires</h2>
                    </div>
                    <p>Des guides éducatifs pour comprendre les règles antidopage, les tests de détection et les
                        meilleures pratiques pour les athlètes, entraîneurs et professionnels du sport.</p>
                    <a href="#" class="icon-link icon-link-hover my-btn border border-secondary-1">
                        <span>Télécharger</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </a>
                </div>
                <div class="vr"></div>
                <div class="image">
                    <img src="/images/a71084f7de0814e2c375ff5d26cf9120.jpg" alt="Image" class="img-fluid rounded">
                </div>
            </div>
            <div class="section-image">
                <div class="image">
                    <img src="/images/5609bc34e18c3c7d0df9eb7d0b591f7f.jpg" alt="Image" class="img-fluid rounded">
                </div>
                <div class="vr"></div>
                <div class="description">
                    <div class="sub-title">
                        <span>(06)</span>
                        <h2>Ressources Supplémentaires</h2>
                    </div>
                    <p>Accédez à d’autres documents et ressources pour approfondir vos connaissances sur la lutte contre
                        le dopage.</p>
                    <a href="#" class="icon-link icon-link-hover my-btn border border-secondary-1">
                        <span>Télécharger</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>