<div class="aut overflow-hidden">
    <div class="p-section bg-section">
        <div class="page-title">
            <h1>Autorisation d’Usage à des fins Thérapeutiques (AUT)</h1>
        </div>
    </div>
    <div class="pt-100">
        <div class="container">
            <div class="mb-100">
                <h2 class="second-sub-title mb-5">01 Qu'est-ce qu'une AUT ?</h2>
                <p class="text">
                    Une AUT est une autorisation officielle permettant à un athlète de suivre un traitement médical
                    contenant une substance interdite, tout en respectant les règles antidopage. Cette mesure vise à
                    assurer que les sportifs ayant des besoins médicaux légitimes puissent continuer à se soigner sans
                    enfreindre la réglementation.
                </p>
            </div>
            <div class="mb-100">
                <h2 class="second-sub-title mb-5">02 Qui peut demander une AUT ?</h2>
                <p class="text">
                    Tout athlète nécessitant un traitement médical contenant une substance interdite figurant sur la
                    liste de l’Agence mondiale antidopage (WADA) doit déposer une demande d’AUT.
                    Les AUT sont généralement accordées dans les cas suivants :<br>. Maladies chroniques nécessitant des
                    traitements spécifiques (asthme, diabète, etc.).<br>. Traitements d’urgence ou de longue durée
                    nécessitant l’utilisation d’une substance interdite.<br> . Cas où aucune alternative non interdite
                    n’est disponible pour traiter la maladie.
                </p>
            </div>
            <div class="mb-100">
                <h2 class="second-sub-title mb-5">03 Critères d'obtention d'une AUT</h2>
                <p class="text">
                    Pour obtenir une AUT, l’athlète doit démontrer que :<br>. L’utilisation de la substance est
                    essentielle
                    pour sa santé.<br>. L’absence de ce traitement compromettrait sérieusement sa santé ou sa capacité à
                    s’entraîner.<br>. Aucune alternative non interdite n’existe pour traiter la pathologie.<br>.
                    L’utilisation
                    de la substance n’améliore pas les performances au-delà d’un niveau normal.
                </p>
            </div>
            <div class="mb-100">
                <h2 class="second-sub-title mb-5">04 Comment faire une demande d’AUT ?</h2>
                <p class="text mb-3">
                    L’athlète doit soumettre un dossier médical complet auprès de l’ANAD, comprenant :<br>. Un
                    formulaire officiel d’AUT (fourni par l’ANAD).<br>. Un rapport médical détaillé expliquant la
                    nécessité du traitement.<br>. Les résultats des examens médicaux justifiant la prescription.<br>.
                    Une
                    ordonnance officielle du médecin traitant.<br>
                    . Délai de traitement : La demande est examinée par un Comité d’experts médicaux, et la réponse est
                    généralement donnée sous 21 jours.<br>
                    . Télécharger le formulaire de demande d’AUT :
                </p>
                <a href="#" class="icon-link icon-link-hover my-btn my-bg float-end">
                    <span>Télécharger</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                    </svg>
                </a>
            </div>
            <div class="mb-100">
                <h2 class="second-sub-title mb-5">05 Validité et renouvellement</h2>
                <p class="text">
                    . Une AUT a une durée limitée (généralement 1 à 4 ans).<br> . Elle doit être renouvelée avant son
                    expiration si l’athlète doit poursuivre son traitement.<br> . Toute modification du traitement doit
                    être signalée immédiatement à l’ANAD.
                </p>
            </div>
            <div class="mb-100">
                <h2 class="second-sub-title mb-5">06 Que se passe-t-il si un athlète ne possède pas d’AUT ?</h2>
                <p class="text">
                    Si un athlète est contrôlé positif à une substance interdite sans AUT valide, il risque des
                    sanctions disciplinaires, même si le traitement était médicalement nécessaire.
                </p>
            </div>
            <div>
                <h2 class="second-sub-title mb-5">07 Vérification des AUT en compétition</h2>
                <p class="text">
                    . Les contrôles antidopage tiennent compte des AUT enregistrées.<br>. L’ANAD et les organisations
                    sportives peuvent vérifier l’authenticité des AUT en cas de contrôle positif.<br>. Les athlètes
                    doivent toujours garder une copie de leur AUT avec eux lorsqu’ils participent à des compétitions.
                </p>
            </div>
        </div>
    </div>
</div>