<div class="container mt-100">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-5">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title text-center mb-4">Confirmer votre compte </h5>
          <form [formGroup]="form">
            <div class="mb-3">
              <label for="password" class="form-label" style="color: #939597;">Mot de passe</label>
              <input type="password" class="form-control bg-section shadow-sm" id="password"
                placeholder="Entrez votre mot de passe" formControlName="password" />
              <div
                *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)">
                <small class="text-danger" *ngIf="form.get('password')?.errors?.['required']">Le mot de passe est
                  requis.</small>
                <small class="text-danger" *ngIf="form.get('password')?.errors?.['minlength']">Le mot de passe doit
                  contenir au moins 8 caractères.</small>
              </div>
            </div>
            <div class="mb-3">
              <label for="confirm_password" class="form-label" style="color: #939597;">Confirmez le mot de passe</label>
              <input type="password" class="form-control bg-section shadow-sm" id="confirm_password"
                placeholder="Confirmez votre mot de passe" formControlName="confirm_password" />
              <div
                *ngIf="form.get('confirm_password')?.invalid && (form.get('confirm_password')?.dirty || form.get('confirm_password')?.touched)">
                <small class="text-danger" *ngIf="form.get('confirm_password')?.errors?.['required']">
                  La confirmation est requise.
                </small>
              </div>
              <div
                *ngIf="form.errors?.['passwordMismatch'] && (form.get('confirm_password')?.dirty || form.get('confirm_password')?.touched)">
                <small class="text-danger">Les mots de passe ne correspondent pas.</small>
              </div>
            </div>
            <div class="text-center">
              <p-button label="Confirmer" [loading]="loading" (onClick)="onSubmit()"
                [style]="{'background-color': '#BDCE31','border':'none'}" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>