<div class="home">
    <div class="landing">
        <div class="container">
            <h1 class="m-0">ANAD</h1>
            <p class="m-0 mb-3">Agence Nationale <br> Antidopage - Tunisie</p>
            <a class="icon-link icon-link-hover my-btn bg-white" href="#">
                <span>En savoir plus</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                </svg>
            </a>
        </div>
    </div>
    <div class="about bg-section p-section">
        <div class="container">
            <h2 class="my-title">À Propos de l’ANAD</h2>
            <p class="m-0">L’Agence Nationale Antidopage, créée par la loi n° 54 du 08/08/2007 relative à la lutte
                contre le
                dopage dans le
                sport, est un établissement public à caractère administratif doté de la personnalité juridique et de
                l’autonomie
                financière, soumis à la tutelle du Ministère chargé du Sport.<br>
                L’ANAD représente l’unique interlocuteur officiel auprès des laboratoires d’analyse internationalement
                agréés et
                auprès des structures et instances sportives nationales et internationales en ce qui concerne la lutte
                contre le
                dopage dans le sport.</p>
        </div>
    </div>
    <div class="container">
        <div class="p-section section-image">
            <div class="image">
                <img src="/images/04ae0373e0d06a35f4412c84b4285662.jpg" alt="Image" class="img-fluid rounded">
            </div>
            <div class="vr"></div>
            <div class="description">
                <h2 class="my-title">Ensemble pour un sport propre !</h2>
                <p>Chaque athlète mérite une compétition juste et équitable. L’Agence Nationale Antidopage (ANAD)
                    s’engage à
                    protéger l’esprit du sport en luttant contre le dopage et en sensibilisant les sportifs aux bonnes
                    pratiques.</p>
                <a class="icon-link icon-link-hover my-btn my-bg" href="#">
                    <span>Accéder aux détails</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="bg-section p-section">
        <div class="container">
            <div class="section-text">
                <div class="box">
                    <p>
                        Réunion du conseil scientifique de <a
                            href="https://www.facebook.com/people/Agence-nationale-antidopage/100064815153549/"
                            target="_blank">l' Agence
                            nationale antidopage</a>.
                        présidé par le directeur général Dr. MONDHER Gabouge.
                        Le 28/02/2025 à Tunis
                    </p>
                    <a class="icon-link icon-link-hover my-btn border border-secondary" href="#">
                        <span>En savoir plus</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </a>
                </div>
                <div class="vr"></div>
                <div class="box">
                    <p>Réunion du conseil scientifique de <a
                            href="https://www.facebook.com/people/Agence-nationale-antidopage/100064815153549/"
                            target="_blank">l' Agence
                            nationale antidopage</a> présidé par le
                        directeur général
                        Dr. MONDHER Gabouge.
                        Le 28/02/2025 à Tunis
                    </p>
                    <a class="icon-link icon-link-hover my-btn border border-secondary" href="#">
                        <span>En savoir plus</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </a>
                </div>
                <div class="vr"></div>
                <div class="box">
                    <p>En coopération et en partenariat avec la Direction d'Éducation Physique et des Sports Militaires,
                        une
                        séance d'éducation a été présentée sur « Le dopage dans le sport » au profit des sportifs élites
                        militaires et les entraineurs.
                        Bardo, 27/02/2025
                    </p>
                    <a class="icon-link icon-link-hover my-btn border border-secondary" href="#">
                        <span>En savoir plus</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="p-section">
        <div class="container">
            <div>
                <h2 class="my-title">Signalez une Infraction de Dopage</h2>
                <p>Pour garantir l’intégrité du sport, il est essentiel que chaque infraction soit signalée. Nous
                    comptons
                    sur
                    votre vigilance pour préserver un environnement sportif propre, honnête et équitable.</p>
                <a href="#" class="my-btn my-bg">Signalez</a>
            </div>
            <div class="mt-150 d-flex flex-column flex-md-row gap-5">
                <div class="box">
                    <h2 class="my-title">ADEL</h2>
                    <p>
                        ADEL est la plateforme centrale de formation en ligne de l’ANAD. Elle propose des cours
                        interactifs
                        et des ressources pédagogiques pour sensibiliser les sportifs, entraîneurs et professionnels de
                        santé aux enjeux de la lutte contre le dopage.
                    </p>
                    <a class="icon-link icon-link-hover my-btn border border-secondary"
                        href="https://adel.wada-ama.org/learn" target="_blank">
                        <span>Découvrir plus</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </a>
                </div>
                <div class="vr d-none d-md-block"></div>
                <div class="box">
                    <h2 class="my-title">ADAMS</h2>
                    <P>ADAMS est une plateforme essentielle permettant la gestion des données antidopage. Elle facilite
                        la
                        déclaration des localisations, l’administration des contrôles et la soumission des AUT
                        (Autorisation
                        d’Usage Thérapeutique) pour assurer un suivi efficace.</P>
                    <a class="icon-link icon-link-hover my-btn border border-secondary"
                        href="https://adams.wada-ama.org/adams/login.do?prompt=true&nopopup=true" target="_blank">
                        <span>Découvrir plus</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-section p-section">
        <div class="container">
            <h2 class="my-title text-center">LIENS RAPIDES</h2>
            <div class="section-text mt-100">
                <div class="box">
                    <a class="mb-2 fw-bold d-block text-black" href="#">Compléments
                        alimentaires</a>
                    <p>
                        Un complément alimentaire est un produit conçu pour compléter l'alimentation en apportant des
                        nutriments, des plantes, des acides aminés ou d'autres substances bénéfiques. Il se présente
                        sous
                        diverses formes (pilules, gélules, poudres, boissons, etc.) et est généralement disponible sans
                        ordonnance.
                    </p>
                    <a class="icon-link icon-link-hover my-btn border border-secondary" href="#">
                        <span>En savoir plus</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </a>
                </div>
                <div class="vr"></div>
                <div class="box">
                    <a class="mb-2 fw-bold d-block text-black" href="#">Législation</a>
                    <p>
                        Depuis les années 90, notre pays a mis en place une politique cohérente de lutte contre le
                        dopage,
                        avec une législation adaptée et un Programme National conforme aux choix avant-gardistes de la
                        Tunisie.
                    </p>
                    <a class="icon-link icon-link-hover my-btn border border-secondary" href="#">
                        <span>En savoir plus</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </a>
                </div>
                <div class="vr"></div>
                <div class="box">
                    <a class="mb-2 fw-bold d-block text-black" href="#">Compléments alimentaires</a>
                    <p>
                        La Liste des interdictions, publiée pour la première fois en 1963 par le CIO, est gérée par
                        l’AMA
                        depuis 2004 conformément au Code Mondial Antidopage. Elle constitue un standard essentiel pour
                        l’harmonisation de la lutte contre le dopage.
                    </p>
                    <a class="icon-link icon-link-hover my-btn border border-secondary" href="#">
                        <span>En savoir plus</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>