<div class="container mt-100">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-5">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title text-center mb-4">Mot de passe oublié</h5>
          <form [formGroup]="form">
            <div class="mb-3">
              <label for="email" class="form-label" style="color: #939597;">Adresse e-mail</label>
              <input type="email" class="form-control bg-section shadow-sm" id="email" placeholder="Enter email"
                formControlName="email">
              <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)">
                <small class="text-danger" *ngIf="form.get('email')?.errors?.['required']">L'adresse e-mail est
                  requise.</small>
                <small class="text-danger" *ngIf="form.get('email')?.errors?.['email']">L'adresse e-mail n'est pas
                  valide.</small>
              </div>
            </div>
            <div class="text-center">
              <p-button label="Envoyer email" [loading]="loading" (onClick)="onSubmit()"
                [style]="{'background-color': '#BDCE31','border':'none'}" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>